<style>
.red {background-color: #FAA;}
.green {background-color: #AFA;}
.blue {background-color: #AAF;}
</style>
Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="-weight">Весу (уб)</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
</select>

Фильтровать по:
<select ng-model="myFilterTypeProperty">
    <option value="all" selected="selected">Все</option>
    <option value="grass">grass</option>
    <option value="poison">poison</option>
    <option value="fire">fire</option>
    <option value="water">water</option>
    <option value="electric">electric</option>
    <option value="normal">normal</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | myFlt: myFilterTypeProperty | orderBy: myOrderProperty" ng-class="{'red':pokemon.type.indexOf('fire')!==-1,'green':pokemon.type.indexOf('grass')!==-1,'blue':pokemon.type.indexOf('water')!==-1}">
        <img ng-click="alert(pokemon.name)"src="{{pokemon.ThumbnailImage}}">

        <small>ID #{{pokemon.id }}</small>
        <h1>{{pokemon.name}} {{pokemon.indexOf('fire')}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}} {{pokemon.type [1]}}</p>
        <hr />
    </li>
</ul>
